body {
    background: grey;
    font-family: 'Times New Roman', times;
}

div {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: darkblue;
    text-align: center;
}

button {
    padding: 15px 30px;
    background-color: darkblue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

p {
    font-size: 18px;
}